.block {
  .container {
    position: relative;
    padding-bottom: 60px;
  }
  .list {
    position: relative;
    margin: 0 auto;
    .item {
      width: 303.33333px;
      position: absolute;
      transition: all 0.3s;
    }
  }
  .bottom_line {
    width: 100%;
    border-bottom: 2px solid #eee;
    text-align: center;
    font-size: 14px;
    color: #ccc;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
