.block_item {
  box-sizing: border-box;
  width: 100%;
  padding-top: 30px;
  background: rgba(255,255,255, .3);
}

.block_item .class, .block_item time {
  display: block;
  font-size: 12px;
  text-align: center;
}

.block_item .class {
  margin-bottom: 14px;
}

.block_item time {
  margin-bottom: 20px;
}

.block_item .title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 12px;
}

.block_item .sketch {
  font-size: 12px;
  padding: 0 20px;
  line-height: 20px;
  text-indent: 2em;
  margin-bottom: 25px;
}

.block_item .readAll {
  font-size: 12px;
  margin: 0 auto 20px;
  padding: 0 12px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

 
.block_item .operate {
  height: 46px;
  box-sizing: border-box;
  border-top: 1px solid #d2cfd2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #9c9a9d;
  i {
    font-size: 14px;
  }
}
