/* 工具样式 */
html {
  height: 100%;
  overflow: hidden;
}

body {
  color: #333;
  height: 100%;
  font-size: 14px;
  // background: #e2cfba url("https://www.miaov.com/static/normal/images/index/bg.jpg") no-repeat center top;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e2cfba url("https://www.miaov.com/static/normal/images/index/bg.jpg") no-repeat center top;
  z-index: -1;
  filter: brightness(0.7);
  overflow: hidden;
}

.hide {
  display: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.mb10 {
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}

.tc {
  display: block;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-50%);
}

.mc {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}


.content-input-wrapper {
  padding: 15px !important;
}

#__nuxt {
  height: 100%;
}

.el-dialog {
  width: 80%;
  max-width: 900px;
}

.section_background {
  position: relative;
  overflow: hidden;
}

.section_background::before {
  overflow: hidden;
  margin-left: -90px;
  filter: brightness(0.9) blur(20px);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #e2cfba url("https://www.miaov.com/static/normal/images/index/bg.jpg") no-repeat center top;
  background-attachment: fixed;
}


@media screen and (max-width: 600px) {
  .section_background::before {
    filter: none;
    background-attachment: none;
    background: url("https://www.miaov.com/static/normal/images/index/bg.jpg") cover;
  }
}
// rewrite
.markdown-body pre {
  padding: 0 !important;
}

.markdown-body h6 {
  color: #333 !important;
}