$color_section_background: rgba(255,255,255, .4);
$color_level_1: #333;
$color_level_2: #666;
$color_level_2: #999;
$color_light: #058;

$color_underline: #ccc;

// 字体大小
$fs_level_1: 14px;
$fs_level_2: 13px;
$fs_level_3: 12px;